<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nambre %>
    <%= f.text_field :nambre %>
  </div>

  <div class="field">
    <%= f.label :nombre_usuario %>
    <%= f.text_field :nombre_usuario %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :correo %>
    <%= f.text_field :correo %>
  </div>

  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
  </div>

  <div class="field">
    <%= f.label :id_rol %>
    <%= f.number_field :id_rol %>
  </div>

  <div class="field">
    <%= f.label :id_ciudad %>
    <%= f.number_field :id_ciudad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
