<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nambre</th>
      <th>Nombre usuario</th>
      <th>Password</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Id rol</th>
      <th>Id ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nambre %></td>
        <td><%= user.nombre_usuario %></td>
        <td><%= user.password %></td>
        <td><%= user.correo %></td>
        <td><%= user.telefono %></td>
        <td><%= user.id_rol %></td>
        <td><%= user.id_ciudad %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
