<p id="notice"><%= notice %></p>

<p>
  <strong>Nambre:</strong>
  <%= @user.nambre %>
</p>

<p>
  <strong>Nombre usuario:</strong>
  <%= @user.nombre_usuario %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Id rol:</strong>
  <%= @user.id_rol %>
</p>

<p>
  <strong>Id ciudad:</strong>
  <%= @user.id_ciudad %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
