<p id="notice"><%= notice %></p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.eventDate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @event.theme %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @event.tags %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
